<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/clientes" routerLinkActive="active">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/usuario" routerLinkActive="active">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/mediostransporte" routerLinkActive="active">Medios de transporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/mediopago" routerLinkActive="active">Medio de pago</a>
          </li>
          <!-- ce -->
          <li class="nav-item">
            <a class="nav-link active" routerLink="/tarifa" routerLinkActive="active">Tarifa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/tipomercancia" routerLinkActive="active">Tipo de Mercancia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/puntoenviorecepcion" routerLinkActive="active">Puntos Envio y Recepcion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/envio" routerLinkActive="active">Envios</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
